{% extends 'base.html' %}

{% block content %}
<div id="pic_list">
    {% for cupcake in cupcakes %}
    <div>
        <img src="{{ cupcake.image }}">
        <p>Flavor: {{ cupcake.flavor }}</p>
        <p>Size: {{ cupcake.size }}</p>
        <p>Rating: {{ cupcake.rating }}</p>
    </div>
    {% endfor %}
</div>

    <form id="new_cupcake_form">
        <label for="flavor">Flavor: </label>
        <input id="flavor" name="flavor" required>
        <label for="size">Size: </label>
        <input id="size" name="size" required>
        <label for="rating">Rating: </label>
        <input id="rating" name="rating" type="number" required>
        <label for="image">Image URL: </label>
        <input id="image" name="image" type="url">
        <button type="submit">Add Cupcake</button>
    </form>
{% endblock %}